html,
body {
  height: 100%;
  width: 100%;
  font-family: sans-serif;
  background-color: rgb(57, 203, 37);
}

#layout {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: 200px 200px;
}

input {
  width: 190px;
  height: 25px;
  border-radius: 10px;
  font-size: 16px;
  text-align: center;
}

#player-msg-div {
  min-height: 40px;
  max-width: 900px;
  background-color: green;
  color: yellow;
  font-weight: 700;
}

.column {
  display: flex;
  flex-direction: column;
  border: solid;
  min-height: 600px;
}

.major-div {
  min-height: 200px;
  border: dotted;
}

.hand {
  margin-left: 5%;
  margin-top: 5%;
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.card {
  border: solid green;
  background-color: white;
  border-radius: 20%;
  height: 100px;
  width: 75px;
  text-align: right;

  font-size: 38px;
  margin-right: 4px;
  padding: 4px;
}

#deck-div {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}

.extra-cards {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.score {
  font-size: 26px;
}

button {
  font-size: 22px;
  font-weight: 500;
  height: 25%;
  width: 100%;
  color: yellow;
  border-radius: 10px;
}

#confirm-bet {
  color: black;
  width: 200px;
  border-radius: 10px;
}
#deal-button {
  border: solid yellow;
  background-color: limegreen;
}

#hit-button {
  background-color: lawngreen;
}
#stand-button {
  background-color: cadetblue;
}

#new-game-button {
  background-color: deeppink;

  height: 25%;
  width: 100%;
}

@media (max-width: 450px) {
  .layout {
    display: flex;
    flex-direction: column;
  }

  .card {
    height: 50px;
    width: 25px;
    font-size: 12px;
  }
}
